<p><img class="image" src="images/juan_quemada.jpg" /></p>
<p>Aplicación creada por Juan Quemada</p>
<p><img class="image" src="images/escupm.gif" /></p>
<p>Modificación por José Roldán</p>
<iframe width="300" height="169" src="https://www.youtube.com/embed/pHrxmgE1-eM" frameborder="0" allowfullscreen></iframe>