<table>
  <%if (quizes.length < 1) {%>
    <p>No hay resultados que coincidan con los criterios de búsqueda<p>
  <%}else{
    var i; for (i=0; i < quizes.length; i++){%>
    <tr> <td> <a href="quizes/<%= quizes[i].id%>"><%= quizes[i].pregunta %> </a> </td> </tr>
  <%}
  }%>
</table>
<form method="get" action="/quizes">
  <p>Buscador</p>
  <input type="text" name="search" value="Texto a buscar"/>
  <input type="submit" value="Enviar" />
</form>
